/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
 *{
  margin:0;
  padding:0;
 }

 .grid {
  display:grid;
  grid-template-rows:25% 50% 25%;
  height: 100vh;
  background-color:black;
 }
 .score {
  background-color:black;
  display:grid;
  grid-template-columns: 50% 50%;
 }

 .blue-score{
  background-color: blue;
 }

 .red-score{
  background-color:red;
 }

 .blue-score{
  display:grid;
  grid-template-columns: 25% 75%;
  color:white;
  font-size: 5rem;
 }
.red-score{

  display:grid;
  grid-template-columns: 75% 25%;
  color:white;
  font-size: 5rem;
}
 .blue-score>h1,.red-score>h1{
  justify-content:center;
  align-items:center;
  display:flex
 }

 .blue-score>.control,.red-score>.control{
  justify-content:center;
  align-items:center;
  display:grid
 }
.control>button{
  padding: 1rem;
  border:none;
  margin:0.25rem;
 }
 .timer {
  background-color:white;
 }
 .roundTracker{
  display:flex;
  justify-content: center;
 }

 .round1,.round2,.round3{
  height:25px;
  width:25px;
  margin: 0.5rem;
  border: black solid 2px;
 }

 .GJCounter{
  color: white;
 }

