/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
 *{
  margin:0;
  padding:0;
 }

 .score {
  background-color:black;
  display:grid;
  grid-template-columns: 50% 50%;
  height: 100vh;
 }

 .blue-score{
  background-color: blue;
 }

 .red-score{
  background-color:red;
 }

 .blue-score,.red-score{

  display:flex;
  justify-content:center;
  align-items:center;
  color:white;
  font-size: 5rem;
 }